.renderer__main{

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem 0;
    min-height: 100vh;

    .renderer__video {
        visibility: hidden; // runs more efficiently, when it doesen't need to render the video
        position: absolute;
        // display: block;
    }

    .renderer__canvas{
        border:1px solid black;
        margin:auto;
    }

    .renderer__canvas__aux {
        visibility: hidden; // runs more efficiently, when it doesen't need to render the aux canvas
        position: absolute;
        // border:1px solid red;
        // margin:auto;
    }

}

